.services {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
	margin: auto;
	height: 100vh;
	font-family: "Poppins", sans-serif;
}
.Services__breadcrumbs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 2rem;
}

.Services__breadcrumbs > p {
	display: flex;
	align-items: center;
}

.Services__breadcrumbs > p > a:first-child:hover,
.Services__breadcrumbs > p:first-child:hover {
	color: #d5c455;
	cursor: pointer;
}

.Services__breadcrumbs a {
	text-decoration: none;
	color: #00000094;
	font-size: 16px;
	font-weight: bold;
}

.services__heading {
	text-align: center;
	padding-bottom: 3rem;
}

.services__heading > h1 {
	font-weight: 700;
	font-size: 3rem;
	margin: 0;
	letter-spacing: 2px;
}

/* Services */

.services__section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
}

.service {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 22rem;
	height: 20rem;
	text-align: center;
	padding: 4rem 0rem 0 0;
	color: #d5c455;
	margin-right: 2rem;
	margin-top: 2rem;
	background: #fff;
	font-weight: 500;
	transform: scale(1, 1);
	transition: transform 0.5s ease;
}

.service > i {
	font-size: 70px;
	line-height: 1;
	color: #d5c455;
}

.service > h2 {
	color: rgba(0, 0, 0, 0.8);
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
}

.Service__text {
	background: #d5c455;
	color: #fff;
	font-weight: 500;
	padding: 1rem;
}

/* Service On Hover */

.service:hover {
	transform: scale(1.02, 1.08);
}
.Service__text:hover {
	color: #d5c455;
	background: #fff;
	transition: 0.6s;
}

.Service__text > p:hover {
	font-weight: 600;
}
/* .service > p {
	width: 100%;
	color: #999999;
} */

/* Media Quries */

@media screen and (max-width: 1216px) {
	.services {
		height: auto;
	}
}

@media screen and (max-width: 816px) {
	.services {
		height: auto;
	}
}

@media screen and (max-width: 749px) {
	.services {
		height: auto;
		margin-bottom: 2rem;
	}
	.service {
		width: 100%;
		height: auto;
		margin-right: 0;
	}
}
