body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #f8f8f8;
}

.fonts {
	font-family: "Poppins", sans-serif;
	font-family: "Raleway", sans-serif;
	font-family: "Uchen", serif;
}

p.select__color::selection {
	color: #fff;
	background: #d5c455;
}
